{% extends 'index.html' %}
{% block Body %}
 <div class="container mt-4">
    <h1>Articles</h1>
    <a href="{% url 'home1:article_write' %}" class="btn btn-primary mb-3">Add New Article</a>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Title</th>
                <th>Short Description</th>
                <th>Published Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.Short_description }}</td>
                    <td>{{ article.pub_date }}</td>
                    <td>{{ article.get_status_display }}</td>
                    <td>
                        <a href="{% url 'home1:article_edit' article.pk %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'home1:article_delete' article.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}