   <section id="articles">
        <h2>مقاله‌ها</h2>
        <div class="articles">
            <div class="card">
                <i class="fas fa-book-open"></i> <!-- آیکون مقاله -->
                <h3>مقاله اول</h3>
                <p>توضیحات کوتاه درباره مقاله اول.</p>
            </div>
            <div class="card">
                <i class="fas fa-book-reader"></i> <!-- آیکون مقاله -->
                <h3>مقاله دوم</h3>
                <p>توضیحات کوتاه درباره مقاله دوم.</p>
            </div>
        </div>
    </section>