    <section id="experience">
        <h2>سوابق کاری</h2>
        <div class="work-experience">
            <div class="card">
                <i class="fas fa-briefcase"></i> <!-- آیکون تجربه کاری -->
                <h3>تجربه اول</h3>
                <p>توضیحات کوتاه درباره تجربه اول.</p>
            </div>
            <div class="card">
                <i class="fas fa-tasks"></i> <!-- آیکون تجربه کاری -->
                <h3>تجربه دوم</h3>
                <p>توضیحات کوتاه درباره تجربه دوم.</p>
            </div>
        </div>
    </section>