 <header>
        <div class="logo-container">
        <img src="/static/images/logo.jpg" alt="لوگو کلینیک" class="logo">
        <h1>کلینیک گفتار درمانی</h1>
    </div>
     
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <nav>
            <ul id="nav-menu">
                <li><a href="#home" class="active">خانه</a></li>
                <li><a href="#articles">مقاله‌ها</a></li>
                <li><a href="#therapy">روش‌های درمان</a></li>
                <li><a href="#experience">سوابق کاری</a></li>
                <li><a href="#certificates">مدارک</a></li>
                <li><a href="#schedule">جدول حضور</a></li>
                <li><a href="#contact">تماس با ما</a></li>
                <li><a href="auth_views/login">ورود</a></li>
            </ul>
        </nav>
 </header>